body {
	font-family: "Microsoft YaHei";
	color: white;
}
a {
	text-decoration: underline;
	color: white;
}
.container {
	width: 100%;
}
.content {
	width: 100%;	
	margin: 0 auto;
}

#landing-page {
	background-image: url(../img/bg_landingpage.png);
	height: 100%;
}
#logo-panel {
	position: relative;
	max-width: 699px;
	min-width: 640px;
	max-height: 653px;
	margin: 0 auto;
	z-index: 1;
}

.self-info {
	position: relative;
	width: 640px;
	height: 200px;
	margin-top: -80px;
	z-index: 100;
}
#info {
	width: 290px;
	display: inline;
	float: left;
	padding-right: 30px;
	text-align: right;
}
#social {
	width: 290px;
	display: inline;
	float: left;
	padding-left: 30px;
	text-align: left;
}
#info header, #social header {
	font-size: 28px;
	font-weight: bolder;
	margin-bottom: 20px;
}


#resume {
	background-image: url(../img/bg_landingpage.png);
	padding-bottom: 60px;
}

#resume>header {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 640px;
	text-align: center;
}

#resume .content {
	padding-top: 0px;
	min-width: 640px;
	max-width: 960px;
}

#resume>header h2 {
	font-weight: bolder;
	padding-bottom: 10px;
}

#resume ul.timeline {
	list-style-type: none;
	background: url("../img/vertical_line.png") repeat-y scroll 33px 0 transparent;
	padding: 0;
}

#resume ul.timeline li {
	position: relative;
	margin-bottom: 30px;
}

#resume ul.timeline li article {
	margin: 0 10px 0 100px;
	color: white;
	border-radius: 5px;
	padding: 15px 30px 25px;
}

#resume ul.timeline li .number {
	position: absolute;
	background: url("../img/timeline_number.png") no-repeat scroll 0 0 transparent;
	width: 56px;
	height: 56px;
	left: 10px;
	line-height: 56px;
	text-align: center;
	color: white;
	font-size: 18px;
}

.projects {
	margin: 10px 0 40px 0;
}

.projects header {
	font-size: 22px;
	font-weight: bolder;
	line-height: 36px;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.projects section {
	font-size: 16px;
}